<div>
  <h4>Pizzas</h4>
  <button class="btn btn-primary" ng-click="$ctrl.showAllVotes()">Show more pizza votes</button>
  <table class="table table-striped mt-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Size</th>
        <th scope="col">Crust</th>
        <th scope="col">Toppings</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pizza in $ctrl.pizzas">
        <th scope="row">{{$index + 1}}</th>
        <td>{{pizza.size}}</td>
        <td>{{pizza.crust}}</td>
        <td>{{pizza.toppings.join(', ')}}</td>
      </tr>
    </tbody>
  </table>
</div>