<div>
  <h4>Vote it your way!</h4>
  <form>
    <select ng-model="$ctrl.data.size">
      <option value="">---Choose a size---</option>
      <option ng-repeat="size in $ctrl.options.sizes" ng-value={{size.id}}>{{size.size}}</option>
    </select>
    <select ng-model="$ctrl.data.crust">
      <option value="">--Choose a crust---</option>
      <option ng-repeat="crust in $ctrl.options.crusts" ng-value={{crust.id}}>{{crust.crust}}</option>
    </select>
    <p>Hold down ctrl/cmd to select as many toppings as you want!</p>
    <select ng-model="$ctrl.data.toppings" size="10" multiple>
      <option ng-repeat="topping in $ctrl.options.toppings" ng-value={{topping.id}}>{{topping.topping}}</option>
    </select>
    <input type="submit" value="Submit Vote" ng-click="$ctrl.vote()"></input>
  </form>
</div>